PORT=3001
PYTHON_API_URL=https://job-crawler-fcwr.onrender.com
PYTHON_API_KEY=d5ec1652a86b2a8e4c879932d80398e3de1dca832f23952cb1984f95984a865c
SUPABASE_URL=https://efgiwikzigrqwoitcxwk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmZ2l3aWt6aWdycXdvaXRjeHdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA3OTc4OTIsImV4cCI6MjA4NjM3Mzg5Mn0.042MdJE0JA-U9pH8BcVXLPCYvt8eJ3XRkL7RjnpVWwQ
FIREBASE_PROJECT_ID=job-crawler-c61dc
SERPAPI_KEY=de9bbc827cfea9d76c6380a153ce42b23ea208a14dc8efb550801197d6bf4ae6
REDIS_URL=redis://red-d6gt5i450q8c73a9sdhg:6379JWT_SECRET=your-super-secret-jwt-key-min-32-chars
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-gmail-app-password
FRONTEND_URL=https://job-crawler-wine.vercel.app
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
