PORT=3001
PYTHON_API_URL=https://job-crawler-fcwr.onrender.com
PYTHON_API_KEY=d5ec1652a86b2a8e4c879932d80398e3de1dca832f23952cb1984f95984a865c

SUPABASE_URL=postgresql://postgres.rwdpriwglpwqgwzzimhb:67F7Q0FNPWu76crf@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_ANON_KEY=sb_publishable_I-zaw95I7szDJMcpOeH4cg_ni0QNnMv

FIREBASE_PROJECT_ID=job-crawler-c61dc
SERPAPI_KEY=de9bbc827cfea9d76c6380a153ce42b23ea208a14dc8efb550801197d6bf4ae6
