PORT=3001
PYTHON_API_URL=https://job-crawler-fcwr.onrender.com
PYTHON_API_KEY=d5ec1652a86b2a8e4c879932d80398e3de1dca832f23952cb1984f95984a865c
SUPABASE_URL=https://efgiwikzigrqwoitcxwk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
SERPAPI_KEY=de9bbc827cfea9d76c6380a153ce42b23ea208a14dc8efb550801197d6bf4ae6
REDIS_URL=redis://red-d6gt5i450q8c73a9sdhg:6379
JWT_SECRET=your-strong-jwt-secret-here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-gmail-app-password
FRONTEND_URL=https://job-crawler-wine.vercel.app
